@{
    Layout = "_Layout";
}

<div class='blog-post'>
    <h2 class='title'>
        <a href="#">Setting up your development environment</a>
    </h2>
    <p class='metadata'>
        <span>June 18th, 2015</span>
        by <a class="author" href='#'>Jess</a>
    </p>
    <section class="body">
        <p>
            There are a few things you'll need installed and configured
            on your machine before you're able to work with ASP.NET 5:

            <ul>
                <li>Windows 7 or Windows Server 2008 R2 and above</li>
                <li>Visual Studio 2015 (Community Edition or above)</li>
                <li>Web Essentials Visual Studio extension</li>
            </ul>
        </p>
        <p>
            Once you have those things installed, come on back for the
            next blog post and we'll start creating your new project!
        </p>
    </section>
</div><!-- /.blog-post -->

<div class='blog-post'>
    <h2 class='title'>
        <a href="#">Welcome to my blog!</a>
    </h2>
    <p class='metadata'>
        <span>June 16th, 2015</span>
        by <a class="author" href='#'>Jess</a>
    </p>
    <section class="body">
        <p>Hello, and welcome to my blog!</p>
        <p>
            I have spent a lot of time curating some of the best information
            available on building and maintaining ASP.NET 5 web applications
            and I hope you find it useful!
        </p>
    </section>
</div><!-- /.blog-post -->

<nav class="hide">
    <ul class="pager">
        <li><a href="#">Previous</a></li>
        <li><a href="#">Next</a></li>
    </ul>
</nav>
