@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model AspNetBlog.Models.Account.RegisterViewModel

<h2>New User Registration</h2>

<div asp-validation-summary="ValidationSummary.All" class="input-validation-error"></div>

<form role="form" asp-action="Register">

    <div class="form-group">
        <label asp-for="EmailAddress"></label>
        <input type="email" asp-for="EmailAddress" class="form-control" />
        <span asp-validation-for="EmailAddress" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" class="form-control" />
        <span asp-validation-for="ConfirmPassword" class="field-validation-error"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Create new user</button>
    </div>

</form>
