@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
@model AspNetBlog.Models.Post
@{
    Layout = "_Layout";
}


<form asp-action="Create">
    <div asp-validation-summary="ValidationSummary.All" class="input-validation-error"></div>

    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="field-validation-error"></span>
    </div>

    <div class="form-group">
        <label asp-for="Body"></label>
        <input asp-for="Body" class="form-control" />
        <span asp-validation-for="Body" class="field-validation-error"></span>
    </div>

    <button class="btn btn-default" type="submit">Create Post</button>
</form>
